@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin-left: 0;
  }
}

.delete-emp:hover {
  cursor: pointer;
}

.employee .card .card-content {
  padding: 5px;
  margin-bottom: -10px;
}
