@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin-left: 0;
  }
}

body {
  background: url('/images/bedge-grunge.png') #3F51B5;
}

select {
  display: block;
}

.delete-emp:hover {
  cursor: pointer;
}

.delete-team:hover {
  cursor: pointer;
}

.employee .card .card-content {
  padding: 5px;
  margin-bottom: -10px;
}

.team-list {
  padding-bottom: 25px;
}

.unde-emp {
  padding-top: 25px;
}

.can-drop {
  border-radius: 3px;
  height: 25px;
  width: 100%;
  background: grey;
  opacity: 70%;
}

.add-task {
  padding: 10px;
}

.empty-preview-tasks {
  padding: 61px 0;
  font-size: 24px;
  color: grey;
}

.preview-tasks {
  padding: 25px 0;
    .preview-task {
      .card-content {
        padding: 10px;
      }
    }
}

.task-list {
  margin-top: 10px;
}

.task {
  .card .card-content{
    padding: 10px;
  }
}
