@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin-left: 0;
  }
}

body {
  background: url('/images/bedge-grunge.png') #3F51B5;
}

select {
  display: block;
}

.delete-emp:hover {
  cursor: pointer;
}

.delete-team:hover {
  cursor: pointer;
}

.employee .card .card-content {
  padding: 10px;
  margin-bottom: -10px;
}

.team-list {
  padding-bottom: 2px;
}

.unde-emp {
  padding-top: 25px;
}

.can-drop {
  margin-top: -8px;
  border-radius: 3px;
  height: 35px;
  width: 100%;
  background: blue;
  opacity: 70%;
  margin-bottom: 27px;
}

.can-drop-task {
  margin-top: 10px;
  border-radius: 3px;
  height: 35px;
  width: 100%;
  background: grey;
  opacity: 70%;
}

.add-task {
  padding: 10px;
}

.empty-preview-tasks {
  padding: 38px 0;
  font-size: 24px;
  color: grey;
}

.preview-tasks {
  padding: 25px 0;
    .preview-task {
      .card-content {
        padding: 10px;
      }
    }
}

.unde-task {
  padding: 8px 0;
}

.task-list {
  margin-top: 10px;
}

.task .card-content{
  padding: 10px;
}

.area {
  max-height: 400px;
}

.area-team-tasks {
  max-height: 450px;
}

.area-btm {
  padding-bottom: 25px;
}

.team-tasks .can-drop-task {
  margin-bottom: 10px;
}
